:root {
  --q-primary-rgb: 33, 33, 33;
  --q-secondary-rgb: 25, 118, 210;
  --q-accent-rgb: 0, 96, 100;
  --q-dark-rgb: 29, 29, 29;
  --q-dark-rgb-page: 18, 18, 18;
  --q-positive-rgb: 33, 186, 69;
  --q-negative-rgb: 193, 0, 21;
  --q-info-rgb: 49, 204, 236;
  --q-warning-rgb: 242, 192, 55;
}

/*
** Início função geradora de classes fs-{size}
*/
@function generate-font-size-classes($start, $end) {
  $classes: ();

  @for $i from $start to $end {
    $classes: append($classes, "fs-#{$i}", comma);
  }

  @return $classes;
}

@each $class in generate-font-size-classes(1, 51) {
  .#{$class} {
    font-size: #{str-slice($class, 4)}px;
  }
}

/*
** Fim função geradora de fs-{size}
*/

/*
** Início da função geradora de classes q-gap-{none,xs,sm,md,lg,xl},
** q-gap-x-{none,xs,sm,md,lg,xl} e q-gap-y-{none,xs,sm,md,lg,xl}
*/
$sizes: (
  none: 0,
  xs: 4,
  sm: 8,
  md: 16,
  lg: 24,
  xl: 32
);

@each $key,
$value in $sizes {
  .q-gap-#{$key} {
    gap: #{$value}px;
  }

  .q-gap-x-#{$key} {
    column-gap: #{$value}px;
  }

  .q-gap-y-#{$key} {
    row-gap: #{$value}px;
  }
}

/*
** Fim da função geradora de classes q-gap-{none,xs,sm,md,lg,xl},
** q-gap-x-{xs,sm,md,lg,xl} e q-gap-y-{xs,sm,md,lg,xl}
*/

.q-table tr,
.q-table__card {
  cursor: pointer;
  user-select: none;
}
